html, body {
    margin: 0;
    padding: 10%;
    font-family: Arial, sans-serif;
    background-color: #4F4557;
    color: #6D5D6E;
}

.grid {

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #393646;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sign{
    text-align: center;
    padding-bottom: 8%;
    font-size: xx-large;
}

.signButton{
    padding-left: 23%;
}

.form__field {
    margin-bottom: 15px;
    padding: 3px;
    padding-left: 20%;
}

